/* Activity Graph */
.content main .activity-graph {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .device-check-list {
    flex-grow: 1;
    flex-basis: 500px;
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
    margin-top: 24px;
    color: var(--dark);
}

.content main .device-check-list .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .device-check-list .header h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .device-check-list .header .bx {
    cursor: pointer;
}

.content main .device-check-list table {
    width: 100%;
    border-collapse: collapse;
    min-width: 340px;
}

.content main .device-check-list table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content main .device-check-list table td {
    padding: 16px 0;
}

.content main .device-check-list table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}


.content main .device-check-list table tbody tr {
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .device-check-list table tbody tr:hover {
    background: var(--grey);
}

.content main .device-check-list table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.content main .device-check-list table tr td .status.completed {
    background: var(--success);
}

.content main .device-check-list table tr td .status.process {
    background: var(--primary);
}

.content main .device-check-list table tr td .status.pending {
    background: var(--warning);
}
