.content main .device-container {
    /* background: blanchedalmond; */
    width: 100%;
    /* height: 100%; */
    /* height: fit-content; */
    height: auto;
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    flex-wrap: wrap;
    color: var(--dark);
}

.content main .device-container .device-list {
    background: var(--light);
    flex-grow: 1;
    flex-basis: 400px;
    min-height: fit-content;
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

.content main .device-container .device-list .device-list-header {
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 2px solid;
}

.content main .device-container .device-list .device-list-header .header {
    justify-content: center;
    font-size: 20px;
}

.content main .device-container .device-list-content {
    width: 100%;
    columns: 200px;
    column-gap: 10px; 
    overflow-y: auto;
}

.content main .device-container .device-list-content .device-box {
    break-inside: avoid;
    background: var(--light-primary);
    color: var(--light);
    padding: 10px 14px;
    border-radius: 9px;
    margin-bottom: 10px;
}

.device-list-content .device-box .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    margin-bottom: 6px;
}

.device-list-content .device-box .title a{
    text-decoration: none;
    color: var(--light);
    font-weight: 500;
}

.device-list-content .device-box .device-box-content {
    display: flex;
    justify-content: space-around;
}

.device-list-content .device-box .device-box-content .real-time-data {
    font-weight: 600;
}

.content main .general-setting .box-container:hover span {
    transform: translateY(0%);
    opacity: 1;
}

.content main .setting-container .chat-config {
    background: var(--light);
    flex-grow: 1;
    flex-basis: 600px;
    height: fit-content;
    border-radius: 24px;
}

.content main .setting-container .chat-config .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
    justify-content: center;
    margin-top: 16px;
    border-bottom: 2px solid var(--grey);
}

.content main .chat-config .chat-container .header {
    width: fit-content;
    font-size: 12px;
    padding: 0 18px;
    color: var(--light-primary);
    margin: auto;
    margin-top: 8px;
}

.content main .chat-config .chat-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.content main .chat-config .chat-container form .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
    width: 80%;
}

.content main .chat-config form .form-container label {
    font-size: 12px;
    margin-right: auto;
}

.content main .chat-config form .form-container input {
    padding: 5px 16px;
    color: var(--dark-grey);
    background: white;
    font-weight: 500;
    width: 100%;
}

.content main .chat-config form .form-container textarea {
    width: 100%;
    min-height: 180px;
    padding: 10px;
}

.content main .chat-config form .form-container .submit-btn {
    width: 100%;
    padding: 10px;
    background: var(--dark);
    font-size: 16px;
    color: var(--light);
    border: none;
}